self.FIREBASE_WEB_CONFIG = {
  apiKey: 'replace_me',
  appId: 'replace_me',
  messagingSenderId: 'replace_me',
  projectId: 'replace_me',
  authDomain: 'replace_me',
  storageBucket: 'replace_me',
  measurementId: 'replace_me',
};
